<h1>Figshare to RDA Common Standard</h1>

<form action="/search" method="POST">
  <label for="term">Search Term:</label>
  <input name="term" id="term" type="text" />
  <input type="submit" value="Search Figshare"/>
</form>
